.tile {
  background-color: #ccc;
  border: solid #000;
  font-family: 'Source Sans Pro', sans-serif;
}
@media only screen and (max-width: 767px) {
  .tile {
    border-width: 4px;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    width: auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .tile {
    border-width: 8px;
    font-size: 20px;
    margin: 50px;
    padding: 20px;
    width: auto;
  }
}
@media only screen and (min-width: 980px) {
  .tile {
    border-width: 8px;
    font-size: 26px;
    margin: 50px auto;
    padding: 30px;
    width: 640px;
  }
}
